@font-face {
  font-family: "Karbon";
  src: url("./karbon-regular-webfont.woff") format("woff"),
    url("./karbon-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karbon";
  src: url("./karbon-semibold-webfont.woff") format("woff"),
    url("./karbon-semibold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
